.digitContainer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin: 1px;
    width: 40px;
    padding-right: 2px;
    padding-left: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}